[user]
	name = ouyangxiongyi
	email = ouyangxiongyi@baidu.com
[color]
	ui = auto
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[alias]
	s = status
	d = diff
	ss = show --stat
	ll = log --stat
	br = branch
[core]
	quotepath = off
	excludesfile = ~/.gitignore_global
[credential]
	helper = cache --timeout=3600
[push]
	default = simple
[include]
	    path = ~/.gitconfig_ignored
[mergetool "gitblade"]
	cmd = \"/Applications/GitBlade.app/Contents/MacOS/GitBlade\" -c \"\"
	trustExitCode = true
[https]
	proxy = https://127.0.0.1:1087
[http]
	proxy = http://127.0.0.1:1087
