body {
   font: 14px 'Segoe UI','Segoe UI Web Regular','Segoe UI Symbol','Lato','Helvetica Neue',Helvetica,Arial,sans-serif;
   background-color: white;
   padding: 6px; }
body > *:first-child {
   margin-top: 0 !important; }
body > *:last-child {
   margin-bottom: 0 !important; }

a {
   color: #4183c4; }
a.absent {
   color: #cc0000; }
a.anchor {
   display: block;
   padding-left: 30px;
   margin-left: -30px;
   cursor: pointer;
   position: absolute;
   top: 0;
   left: 0;
   bottom: 0; }
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

img#logo{
	width:200px;
	height:45px;
}

div#banner{
	padding:20px;	
	border-bottom:1px solid black;
	margin-bottom:30px;
}

div#title{
	text-align:center;
	font-size:50px;
	font-family:"Arial","Microsoft YaHei","黑体","宋体",sans-serif;
	margin-bottom:100px;
	font-weight:bold;
}

div#author,div#hst{
	font-size:large;
	font-family:"Arial","Microsoft YaHei","黑体","宋体",sans-serif;
	font-weight:bold;
}

div#author{
	margin:50px 0px 80px 850px;
}

div#hst{
	text-align:center;
}

div#history{
	margin-bottom:40px;
}

div#TOC_CONTENT{
	margin-left:30px;
	font-size:large;
}

div.catalog{
	width:33%;
	float:left;	
}

div.catalog ul ul{
	margin:10px 0px 10px 15px;
	pading:0px;
    list-style-type: circle;
	font-size:16px;
}

div.catalog ul ul ul{
	list-style-type: square;
	margin:10px 0px 10px 5px;
}

div#main{
	font-family:"Arial","Microsoft YaHei","黑体","宋体",sans-serif;
	font-size:16px;	
	line-height:2em;
}

div.footnotes{
	font-size:13px;	
}

h1, h2, h3, h4, h5, h6 {
   margin: 20px 0 10px;
   padding: 0;
   font-weight: bold;
   -webkit-font-smoothing: antialiased;
   cursor: text;
   position: relative;
   color:#4169E1;
}

h1:hover a.anchor, h2:hover a.anchor, h3:hover a.anchor, h4:hover a.anchor, h5:hover a.anchor, h6:hover a.anchor {
   text-decoration: none; }

h1 tt, h1 code {
   font-size: inherit; }

h2 tt, h2 code {
   font-size: inherit; }

h3 tt, h3 code {
   font-size: inherit; }

h4 tt, h4 code {
   font-size: inherit; }

h5 tt, h5 code {
   font-size: inherit; }

h6 tt, h6 code {
   font-size: inherit; }

h1 {
   margin : 40px 5px 40px 5px;
   font-size: 28px;
   border-top:1px solid #333;
   padding-top:40px;
 }

h2 {
   font-size: 24px;
   border-bottom: 1px solid #cccccc;
}

h3 {
   font-size: 18px; }

h4 {
   font-size: 16px; }

h5 {
   font-size: 14px; }

h6 {
   color: #777777;
   font-size: 14px; 
 }

p, blockquote, ol, dl, li, table, pre {
   margin: 15px 0;   }
   
em{
	font-family:Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', Arial, sans-serif;
	font-size:16px;
	color: #464C5C;
	background-color:#f5f5f5;
	font-style:normal;
}

body > h2:first-child {
   margin-top: 0;
   padding-top: 0; }
body > h1:first-child {
   margin-top: 0;
   padding-top: 0; }
body > h1:first-child + h2 {
   margin-top: 0;
   padding-top: 0; }
body > h3:first-child, body > h4:first-child, body > h5:first-child, body > h6:first-child {
   margin-top: 0;
   padding-top: 0; }

a:first-child h1, a:first-child h2, a:first-child h3, a:first-child h4, a:first-child h5, a:first-child h6 {
   margin-top: 0;
   padding-top: 0; }

h1 p, h2 p, h3 p, h4 p, h5 p, h6 p {
   margin-top: 0; }

li p.first {
   display: inline-block; }
li {
   margin: 0; }
ul, ol {
   padding-left: 20px; }
   
ol li{
   margin-left: 30px;
}

ul :first-child, ol :first-child {
   margin-top: 0;
   }

dl {
   padding: 0 0 0 10px; }
dl dt {
   font-weight: bold;
   font-style: italic;
   padding: 0;
   margin: 15px 0 5px; }
dl dt:first-child {
   padding: 0; }
dl dt > :first-child {
   margin-top: 0; }
dl dt > :last-child {
   margin-bottom: 0; }
dl dd {
   margin: 0 0 15px;
   padding: 0 15px; }
dl dd > :first-child {
   margin-top: 0; }
dl dd > :last-child {
   margin-bottom: 0; }

blockquote {
   border-left: 4px solid #ddd;
   padding: 0 15px;
   color: #777777; }
blockquote > :first-child {
   margin-top: 0; }
blockquote > :last-child {
   margin-bottom: 0; }
blockquote {
    display: block;
    -webkit-margin-before: 1.2em;
    -webkit-margin-after: 1.2em;
    -webkit-margin-start: 40px;
    -webkit-margin-end: 40px;
    border-left: 3px solid #a7b5bf;
    color: #464C5C;
    font-style: normal;
    margin: 4px 0 12px 0;
    padding: 8px 12px;
    background-color: #F8F9FC;
}


table {
   padding:0;border-collapse: collapse; width:90%;margin:10px auto;}
table tr {
   border-top: 1px solid #cccccc;
   background-color: white;
   margin: 0;
   padding: 0; }
table tr:nth-child(2n) {
   background-color: #f8f8f8; }
table tr th {
   font-weight: bold;
   border: 1px solid #cccccc;
   margin: 0;
   padding: 6px 13px;text-align:center; }
table tr td {
   border: 1px solid #cccccc;
   margin: 0;
   padding: 6px 13px;text-align:center; }
table tr th :first-child, table tr td :first-child {
   margin-top: 0; }
table tr th :last-child, table tr td :last-child {
   margin-bottom: 0; }

img {
   max-width: 100%; }

div.figure {
  text-align: center;
  /*border: thin silver solid;*/
  margin: 0.5em;
  padding: 0.5em;
}
div.figure p {
    font-weight:bold;
    font-size:90%;
/*    margin-left: auto;
    margin-right: auto; */
    text-align: center;
}
div.figure img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
img.scaled {
  width: 100%;
}

span.frame {
   display: block;
   overflow: hidden; }
span.frame > span {
   border: 1px solid #dddddd;
   display: block;
   float: left;
   overflow: hidden;
   margin: 13px 0 0;
   padding: 7px;
   width: auto; }
span.frame span img {
   display: block;
   float: left; }
span.frame span span {
   clear: both;
   color: #333333;
   display: block;
   padding: 5px 0 0; }
span.align-center {
   display: block;
   overflow: hidden;
   clear: both; }
span.align-center > span {
   display: block;
   overflow: hidden;
   margin: 13px auto 0;
   text-align: center; }
span.align-center span img {
   margin: 0 auto;
   text-align: center; }
span.align-right {
   display: block;
   overflow: hidden;
   clear: both; }
span.align-right > span {
   display: block;
   overflow: hidden;
   margin: 13px 0 0;
   text-align: right; }
span.align-right span img {
   margin: 0;
   text-align: right; }
span.float-left {
   display: block;
   margin-right: 13px;
   overflow: hidden;
   float: left; }
span.float-left span {
   margin: 13px 0 0; }
span.float-right {
   display: block;
   margin-left: 13px;
   overflow: hidden;
   float: right; }
span.float-right > span {
   display: block;
   overflow: hidden;
   margin: 13px auto 0;
   text-align: right; }

code,
kbd,
pre,
samp {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
code {
  padding: 2px 4px;
  font-size: 100%;
  color: #990066;
  background-color: #f5f5f5;
  border-radius: 4px;
}
kbd {
  padding: 2px 4px;
  font-size: 90%;
  color: #fff;
  background-color: #333;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .25);
          box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .25);
}
kbd kbd {
  padding: 0;
  font-size: 100%;
  -webkit-box-shadow: none;
          box-shadow: none;
}
pre {
    background: rgba(71,87,120,0.08);
    display: block;
    color: #000;
    overflow: auto;
    padding: 12px;
    border-radius: 3px;
}
pre code {
  padding: 0;
  font-size: inherit;
  color: inherit;
  white-space: pre-wrap;
  background-color: transparent;
  border-radius: 0;
  line-height:1.2em;
}

sup {
   font-size: 0.83em;
   vertical-align: super;
   line-height: 0;
}
* {
	 -webkit-print-color-adjust: exact;
}

@media screen and (min-width: 1064px) {
   body {
      width:1004px;
      margin:0 auto;
   }
}
@media print {
	 table, pre {
		  page-break-inside: avoid;
	 }
	 pre {
		  word-wrap: break-word;
	 }
}
